.carousel-item img{
    width: 100%;
    height: 600px;
}
.Home .container{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.Home h1, .AboutMe h1, .Contacts h1, .MySkills h1{
    padding-top: 100px;
    text-align: center;
}
.card{
    margin-left: 20px;
    margin-bottom: 20px;
}
.sub{
    margin-left: 1189px;
}
.btn-lg{
    background-color: white;
}